<%= error_messages_for(f.object) %>

<table class="tableResult">
  <tr>
    <td>First Name</td>
    <td><%= f.text_field(:first_name) %></td>
  </tr>
  <tr>
    <td>Last Name</td>
    <td><%= f.text_field(:last_name) %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= f.text_field(:email) %></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><%= f.password_field(:password_digest) %></td>
  </tr>
</table>
